<div class="header-context container-fluid">
  <div class="row no-gutters">
    <div class="header-title col d-flex">
      <p class="ng first">My first</p>
      <div class="logo">
        <img class="icon" src="assets/images/icons8-angularjs-32.png" alt="">
      </div>
      <p class="ng">ngular Application</p>
    </div>
    <div class="navigation col d-flex justify-content-end">
      <div class="links col">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a *ngFor="let item of links" href="{{item.link}}" class="badge">
              <i [ngClass]="item.iconClass"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-button btn-group" dropdown>
        <button dropdownToggle type="button" class="btn  dropdown-toggle">
          <i class="fas fa-bars"></i> <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li *ngFor="let item of routerLinks" role="menuitem">
            <a class="dropdown-item" routerLink="{{item.path}}" routerLinkActive='active'>{{item.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>