@import "src/assets/styles/variables";

.header-context {
  padding: 1.3rem;
  background-color: $mine-shaft-color;
  height: $header-height;
  font-weight: 700;

  .ng {
    color: $alto-color;
    font-size: $font-size-xl;
  }

  .first {
    margin-right: .5rem;
  }

  .menu {
    color: #ddd;
  }

  .menu-button {
    height: 2rem;

    .btn {
      height: 2rem;
      padding: .2rem;
      background-color: $cerulean-color;
      
      i {
        width: 1.5rem;
      }
    }
  }

  .links {
    padding-top: .3rem;
    .badge {
      color: $cerulean-color;
    }
  }

  .link {
    font-size: $font-size-regular;
  }
  .active {
    background-color: $cerulean-color;
  }
}
