@import "src/assets/styles/variables";

.header-context {
  padding: 1.3rem;
  background-color: $pickled-bluewood-color;
  height: $header-height;
  font-weight: 700;

  .ng {
    color: $parchment-color;
    font-size: $font-size-xl;
  }

  .first {
    margin-right: .5rem;
  }

  .menu-button {
    height: 2rem;

    .btn {
      height: 2rem;
      padding: .2rem;
      background-color: $cutty-sark-color;
      color:$parchment-color;
      
      i {
        width: 1.5rem;
        color: $parchment-color;
      }
    }
    .dropdown-item {
      color: $pickled-bluewood-color;
      &:hover, &:active {
        background-color: $mantle-color;
        color: $parchment-color;
      }
    }  
  }

  .links {
    padding-top: .3rem;
    display: none;
    .badge {
      color: $parchment-color;
    }
  }

  .link {
    font-size: $font-size-regular;
    &:hover {
      color: $mantle-color;
    }
  }
  .active {
    background-color: $mantle-color;
  }
}
