@import "src/assets/styles/variables";

footer{
    background-color:$tundora-color;
    height: $footer-height;
    color: $alto-color;
    p{
        padding: 0;
        margin: 0;
        font-size: $font-size-sm;
        text-align: center;
    }
    .links{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: space-between;
        height: 60px;
        padding: 20px;
        i {
            font-size: $font-size-regular;
        }
    }
}