<div class="contacts-content container-fluid row justify-content-center">
    <div class="title-content col-3 d-flex">
        <div class="contacts-title d-flex">
            <div class="icon">
                <i class="fas fa-id-card-alt"></i>
            </div>
            <div class="title">
                <p>My contact details:</p>
            </div> 
        </div>
    </div>
    <div class="main-info col-7">
        <div *ngFor='let item of contacts' class="main-content col d-flex">
            <div class="left col-4 d-flex">
                <div>
                    <i [ngClass]="item.class"></i>
                </div>
                <div class="name">
                    <p>{{item.title}}</p>
                </div>
            </div>
            <div class="right col-8">
                {{item.content}}
            </div>
        </div>
    </div>   
</div>
