@import "src/assets/styles/variables.scss";


.courses-list{
    background-color: $alto-color;
    overflow-y: auto;
    height: calc(100vh - #{$header-height});
    .line {
        width: 2.6rem;
        height: $line-height;
        background-color: $cerulean-color;
    }
    h1 {
        font-size: $font-size-xxxl;
        span {
            font-weight: 800;
        }
    }
    .image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 13rem;
        height: 7rem;
    }
    .description {
        text-align: justify;
    }
    .nav-btn{
        border: .1rem solid $cerulean-color;
        border-radius: .5rem;
        color: $cerulean-color;
        &:hover,
        &.active {
          background-color: $cerulean-color;
          color: $white-color;
        }
    }
}

.courses-details{
    background-color: $mercury-color;
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
}

.invisible {
    display: none;
}
