<div class="container-fluid">
    <div class="courses-content row">
        <div class="courses-list" [ngClass]="{'col-4': courseSelected, 'col-12': !courseSelected}">
            <div class="line mt-3 mb-2"></div>
            <h1>My <span>Courses</span></h1>
            <div *ngFor="let item of coursesList">
                <div class="media d-flex">
                    <div class='image mt-3 mr-3' [style.background-image]="'url(' + item.img + ')'"></div>
                    <div class="media-body mt-3">
                        <h5 class="mt-0">{{item.name}}</h5>
                        <p class="description" [ngClass]="{'d-none': courseSelected}">{{item.description}}</p>
                        <a [routerLink]='["/courses", item.id]' routerLinkActive='active' class="nav-btn btn">Learn more...</a>    
                    </div>  
                </div>
                <hr>
            </div>
        </div>
        <div *ngIf="courseSelected" class="courses-details col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



