@import "src/assets/styles/variables.scss";


.courses-list{
    background-color: azure;
    overflow-y: auto;
    height: calc(100vh - #{$header-height});

}

.col-8{
    background-color: blanchedalmond;
}