@import "src/assets/styles/variables.scss";


.courses-list{
    background-color: $alto-color;
    overflow-y: auto;
    height: calc(100vh - #{$header-height});
    .line {
        width: 40px;
        height: 3px;
        background-color: $azure-radiance-color;
    }
    h1 {
        font-size: $font-size-xxxl;
        span {
            font-weight: 800;
        }
    }

}

.courses-details{
    background-color: blanchedalmond;
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
}

.image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.invisible {
    display: none;
}
