<div class="container-fluid">
    <div class="courses-content row">
        <div class="courses-list col-4">
            <h3>My courses</h3>
            <div class='flex mb-5' *ngFor="let item of coursesList">
                <div class='flex__image' [style.background-image]="'url(' + item.img + ')'"></div>
                <div>
                    <h5>{{item.name}}</h5>
                    <p class='cut'>{{item.description}}</p>
                    <ul>
                        <li>{{item.lessons.length}} lessons</li>
                    </ul>
                </div>
                <a [routerLink]='["/courses", item.id]' class="btn btn-primary mb-3">Learn more...</a>
            </div>
        </div>
        <div class="courses-details col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



