@import "../../assets/styles/variables.scss";

.main {
  background-color: $alabaster-color;
  height: 100vh;
  padding: 0;
  .form-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid $pickled-bluewood-color;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem .2rem $cutty-sark-color;
    label {
      color: $cutty-sark-color;
    }
    .title {
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      color: $cutty-sark-color;
      font-weight: 800;
      font-size: $font-size-xxxl;
    }
    .form-control {
      border-radius: 0.5rem;
    }
    .btn-block {
      border-radius: 0.5rem;
    }
    .alert p {
      margin: 0;
    }
  }
}
