<div class="basic container-fluid">
    <div class="row justify-content-center">
        <div class="title col-2">
            <div class="section-heading">
                <div class="line"></div>
                <h2>My <span>Skills</span></h2>
            </div>
        </div>
            
        <div class="skills col-9">
            <div class="skill">
                <h3>HTML5 & CSS3 Starter</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                        <span>94%</span>
                    </div>
                </div>
            </div>
  
            <div class="skill">
                <h3>Javascript Essential</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                        <span>94%</span>
                    </div>
                </div>
            </div>
  
            <div class="skill">
                <h3>Javascript Advanced</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span>80%</span>
                    </div>
                </div>
            </div>
  
            <div class="skill">
                <h3>Twitter Bootstrap 4</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                        <span>96%</span>
                    </div>
                </div>
            </div>

            <div class="skill">
                <h3>HTML5 & CSS3 Advanced</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">
                            <span>93%</span>
                        </div>
                    </div>
                </div>
  
            <div class="skill">
                <h3>Typescript</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                        <span>98%</span>
                    </div>
                </div>
            </div>

            <div class="skill">
                <h3>Angular Essential</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span>80%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
