@import '../../assets/styles/variables.scss';

.basic {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
    color: $tundora-color;
    background-color: $alto-color;
    .line{
        width: 42px;
        height: 3px;
        background-color: $azure-radiance-color;
        margin-bottom: 10px;
    }
    .skills, .title{
        margin-top: 90px;
    }
    .skill h3{
        font-size: $font-size-xxl

    }
    .section-heading{
        h2{
            font-size: $font-size-xxxl;
            font-weight: 400;
        }
        span{
            font-weight: 800;
        }
    } 
    .progress {
        overflow: visible;
        margin-bottom: 26px;
        height: 6px;
        .progress-bar {
          background-color: $azure-radiance-color;
          position: relative;
          border-radius: 4px;
          span {
            background-color: $azure-radiance-color;
            position: absolute;
            bottom: -20px;
            font-size: 10px;
            line-height: 10px;
            padding: 2px 3px 2px 4px;
            right: -1.4em;
            border-radius: 2px;
          }
          span:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: $azure-radiance-color;
            border-width: 5px;
            margin-left: -5px;
          }
        }
    }
}