@import '../../assets/styles/variables';
// @import '../../assets/styles/main';


aside{
    background-color: $tundora-color;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    overflow-y: auto;
}

.sidebar{
    padding: 0;
    
}

.nav li a{
   
    padding-left: 15px;
    color: $malibu-color;
    &:hover,
    &.active {
        background-color: $azure-radiance-color;
        color: $white-color;
    }  
}



