<aside>
    <div class="container">
        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Home</a></li>
                <li><a routerLink="/skills" routerLinkActive='active'>My skills</a></li>
                <li><a routerLink="/education" routerLinkActive='active'>My education</a></li>
                <li><a routerLink="/examples" routerLinkActive='active'>My examples</a></li>
                <li><a routerLink="/contacts" routerLinkActive='active'>Contacts</a></li>
            </ul>
        </nav>
    </div>
</aside>
