@import "src/assets/styles/variables.scss";

aside{
    background: honeydew;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    overflow-y: auto;
}

.active{
    background-color: bisque;
}
ul{
    margin: 0;
}