<aside>
    <div class="sidebar container">
        <nav>
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><img src="../assets/images/icons/baseline-home-24px.svg">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills" routerLinkActive='active'><img src="../assets/images/icons/baseline-photo_library-24px.svg">My skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses" routerLinkActive='active'><img src="../assets/images/icons/baseline-bookmarks-24px.svg">My education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/examples" routerLinkActive='active'><img src="../assets/images/icons/baseline-apps-24px.svg">My examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/contacts" routerLinkActive='active'><img src="../assets/images/icons/baseline-contact_mail-24px.svg">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
