<aside>
    <div class="sidebar container">
        <nav>
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills" routerLinkActive='active'>My skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses" routerLinkActive='active'>My education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/examples" routerLinkActive='active'>My examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/contacts" routerLinkActive='active'>Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
