// colors - please use http://chir.ag/projects/name-that-color/ to get color name
$mine-shaft-color: #262626;
$tundora-color: #474747;
$alto-color: #DDDDDD;
$white-color: #FFFFFF;
$black-color: #000000;
$malibu-color: #90CAF9;
$azure-radiance-color: #007BFF;


// others
$header-height: 80px;
$footer-height: 100px;