@import '../../assets/styles/variables';

.home-context {
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
  background-color: $alabaster-color;

  .home-photo {
    height: 31rem;
    margin-top: 5.5rem;
    border: .3rem double $tundora-color;
  }

  .home-info {
    margin-top: 5.5rem;
    color: $tundora-color;
    font-size: $font-size-xxxl;
    text-align: justify;

    .line {
      width: 5rem;
      height: $line-height;
      background-color: $cutty-sark-color;
    }

    .title {
      font-size: $font-size-xxxl;
      letter-spacing: .2rem;
      font-weight: 500;

      span {
        font-weight: 800;
        color: $cutty-sark-color;
      }
    }

    h2 {
      font-weight: 800;
      font-size: $font-size-xxxl;
      margin-bottom: 1rem;
      color: $cutty-sark-color;
      span {
        font-weight: 400;
      }
    }
  }
}
