<div class="home-context media">
  <img class="home-photo align-self-start ml-5 mr-5" src="../../assets/images/photo_2019-08-13_14-17-01.jpg"
    alt="photo">
  <div class="home-info media-body mr-5">
    <div class="line"></div>
    <h1 class="title mt-3 mb-3">About <span>Me</span></h1>
    Hello,
    <h2><span>My name is</span> Yuriy Shchebetun.</h2>
    <p>I'm a beginner web front-end developer interested in software engineering. I’ve been learning web technologies
      with myself and also completed certain courses.</p>
    <p>Now I'm continuing with self-learning and I'm looking for new opportunities to develop my skillset
      in some company. Instead, I'm ready to carry out the tasks with responsibility and to be an important addition to your team.</p>
    <p>My work style is based on details, quality, responsibility, and continuous training.</p>
  </div>
</div>
