@import '../../assets/styles/variables';

.home-context {
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
  background-color: $alto-color;

  .home-photo {
    height: 500px;
    margin-top: 90px;
    border: 5px double $tundora-color;
  }

  .home-info {
    margin-top: 90px;
    color: $tundora-color;
    font-size: $font-size-xxxl;
    text-align: justify;

    .line {
      width: 80px;
      height: 5px;
      background-color: $azure-radiance-color;
    }

    .title {
      font-size: $font-size-xxxl;
      letter-spacing: 3px;
      font-weight: 500;

      span {
        font-weight: 900;
      }
    }

    h2 {
      font-weight: 900;
      font-size: $font-size-xxxl;
      margin-bottom: 1rem;
    }
  }
}
